{% extends 'new.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block div %}
    {% if error %}
        <p style="color: #ff061a">{{ error }}</p>
    {% endif %}
    <form name="searchForm" method="post">
        <table id="searchForm">
            <tbody>
            <tr>
                <td>
                    <label for="searchForm_q" class="required">Поиск: </label>
                    <input pattern="^([A-Za-z\d]+\s?)+"
                           type="text" id="searchForm_q"
                           name="searchForm[q]">
                </td>
                <td>
                    <button type="submit" class="btn btn-info" id="searchForm_search">Найти</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="searchForm_sort" name="searchForm[sort]">
                        <option value="hot">Горячее</option>
                        <option value="relevance">По релевантности</option>
                        <option value="top">В топе</option>
                        <option value="new">Новые</option>
                        <option value="comments">Комментрируемые</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="searchForm_limit"
                            name="searchForm[limit]">
                        <option value="8">8шт</option>
                        <option value="12">12шт</option>
                        <option value="16">16шт</option>
                        <option value="50">50шт</option>
                        <option value="100">100шт</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <hr/>
    <div class="row">
        {% for object in redditData %}
            <div class="card" style="width: 16rem;">
                <a href="{{ path('show', {'data': object.data.name }) }}">
                    <img class="card-img-top" src="{{ object.data.thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color: Green">"{{ object.data.title | truncate(17) }}"</h5>
                        <p class="card-text">{{ object.data.author | truncate(20) }} <br/>
                            {{ object.data.created_utc | date('d/m/Y') }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
