{% extends 'new.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    <hr/>
    <div class="row">
        {% for object in redditData %}
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{{ object.data.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="color: Green">"{{ object.data.title }}"</h5>
                    <p class="card-text">{{ object.data.author }} <br/>
                        {{ object.data.created_utc | date('d/m/Y') }}</p>
                    <a href="{{ object.data.url }}" class="btn btn-info">Просмотр</a>
                    {% if app.user %}
                        <a href="{{ path('adToMyFavores', {'id': object.data.name }) }}" class="btn btn-info">В
                            избранное</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
