{% extends 'base.html.twig' %}
 {% block body %}
<div class="container">
    <div>
        {% if app.user %}
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-info">Выход</a>
        {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">Регистрация</a>
            <span> или </span>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Вход</a>
        {% endif %}
    </div>
    <hr/>
    <a href="{{ path('mainIndex') }}" class="btn btn-info">Главная</a>
    <a href="{{ path('myFavores') }}" class="btn btn-info">Мои избранные</a>
    <a href="{{ path('Community') }}" class="btn btn-info">Избранные сообщества</a>
    <hr/>

</div>
     {% block div %}
 {% endblock %} {% endblock %}
